

<div class="mainContiner" >
<form [formGroup]="newProduct" >
  
  <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <input matInput type="text" formControlName="name" placeholder="Nazwa">
      </mat-form-field></td></tr>
      <tr><td><mat-form-field>
        <input matInput placeholder="Cena" formControlName="price" type="number" class="example-right-align">
        <span matPrefix>$&nbsp;</span>
        <span matSuffix>.00</span>
      </mat-form-field></td></tr>
      <tr><td><mat-form-field class="example-full-width">
        <input matInput type="number" formControlName="quantity" placeholder="ilość">
        <span matSuffix>sztuk</span>
      </mat-form-field></td></tr>
      
      <tr><td>
    <mat-form-field class="example-full-width">
      <input matInput #message maxlength="256" formControlName="description" placeholder="Message">
      <mat-hint align="start"><strong>Opis</strong> </mat-hint>
      <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
    </mat-form-field>
    </td></tr>
    <tr><td>
    <mat-checkbox #inputcheckbox >Dodaj przecene</mat-checkbox>
    </td></tr>
    <tr><td>
        <tr *ngIf="inputcheckbox.checked" ><td><mat-form-field >
            <input matInput placeholder="Nowa Cena" formControlName="newPrice" type="number" class="example-right-align">
            <span matPrefix>$&nbsp;</span>
            <span matSuffix>.00</span>
          </mat-form-field></td></tr>
  </td></tr>
    </table>
   
</form>

<div *ngFor="let elm of PathImageHref"  class="picture">
    <div class="box">

    
    <img mat-card-image width="100%" [src]="elm" alt="Brak obrazka">
    <button color="primary" mat-raised-button (click)="deletePhoto(elm)" >Usun zdjecie</button>
  </div>
</div>


<div id= "addPicture">
    <label for="file">File:</label>
    <input type="file" (change)="upload($event)" [disabled] = "!(NumberOfImage<5)" accept=".png,.jpg" />

</div>



<button color="primary" mat-raised-button (click)="addProduct()"  [disabled]=" newProduct.invalid ">Dodaj Produkt</button>
</div>