

<form [formGroup]="newProduct">
  
  <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <input matInput type="text" formControlName="name" placeholder="Nazwa">
      </mat-form-field></td></tr>
      <tr><td><mat-form-field>
        <input matInput placeholder="Cena" formControlName="price" type="number" class="example-right-align">
        <span matPrefix>$&nbsp;</span>
        <span matSuffix>.00</span>
      </mat-form-field></td></tr>
      <tr><td><mat-form-field class="example-full-width">
        <input matInput type="number" formControlName="quantity" placeholder="ilość">
        <span matSuffix>sztuk</span>
      </mat-form-field></td></tr>
      <tr><td>
    <mat-form-field class="example-full-width">
      <input matInput #message maxlength="256" formControlName="description" placeholder="Message">
      <mat-hint align="start"><strong>Opis</strong> </mat-hint>
      <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
    </mat-form-field>
    </td></tr>
    
  </table>
   
</form>



<div id= "addPicture">
    <label for="file">File:</label>
    <input type="file" [disabled]="!(NumberOfImage < 5)"  (change)="upload($event)" accept=".png,.jpg" />
<button color="primary" mat-raised-button (click)="addProduct()"  [disabled]=" newProduct.invalid ">Dodaj Produkt</button>
