.mainContiner
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#addPicture
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 6px;
}
#addPicture label input
{
    margin: 6px;
}
.picture .box
{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}
.picture
{
    display: flex;
    justify-content: center;
}
.picture button
{
    margin-top: 4px;
    margin-bottom: 4px;
}
