<div id="webpage-show">
  <div class="title">
      <h1>Dostawa i płatności</h1>
      
  </div>
  
  <div class="content tinymce_html">
      <!--[mode:tiny]--><p>Koszty dostawy są uzależnione od wyboru rodzaju dostawy oraz sposobu płatności. Towar wysyłamy za pośrednictwem firmy kurierskiej lub Poczty Polskiej.&nbsp;Ceny przesyłek większych niż niżej wymienione ustalane są indywidualnie.</p>
<p><img title="ups" src="https://firebasestorage.googleapis.com/v0/b/shop-207de.appspot.com/o/UPS.jpg?alt=media&token=3a0e4eca-1a54-402a-9d58-5c7da353ceb5" alt="ups">&nbsp;&nbsp;</p>
<p>Kurier - przesyłki do 20 kg o wymiarach nie większych niż: 50x60x30cm</p>
<ul>
<li>pobranie (płatność przy odbiorze): <strong>19zł</strong></li>
<li>przelew (przedpłata): <strong>19zł</strong></li>
</ul>
<hr>
<p><img title="poczta" src="https://firebasestorage.googleapis.com/v0/b/shop-207de.appspot.com/o/PocztaPolska.jpg?alt=media&token=e62f8bf7-e10b-41cf-8408-81669e378a5c" alt="poczta"></p>
<p>Poczta - priorytetowe rejestrowane przesyłki polecone do 1 kg:</p>
<ul>
<li>przelew&nbsp;(przedpłata): <strong>10zł</strong></li>
</ul>
<hr>
<p>Odbiór osobisty w Krakowie:&nbsp; <strong>0 zł</strong>. (Kraków, ul. Krzywa 7)</p>
<p>Możliwa płatność gotówką lub kartą.</p>        
  </div>
</div>