nav
{
background-color: #f02d2ddc;
display:flex;
justify-content:space-between;
padding: 10px 10px;
color: white;
}

#navleft , #naviRight
{
display: flex;
flex-direction:  row;
justify-content: space-between;
align-items: center;
color: white;

}

i
{
    padding: 10px;
}