
<nav>
  <div id="naviLeft">
<i    class="fas fa-home"></i>
<button mat-button [routerLink]="[ '/nowosci']"  >Nowości </button>
<button mat-button [routerLink]="[ '/wyprzedaz']" >Wyprzedaże</button>
<button mat-button [routerLink]="[ '/kontakt']" >Kontakt</button>
<button mat-button [routerLink]="[ '/dostawa-i-platnosci']" >Dostawa i płatności</button>
<button mat-button *ngIf="us.IsAdmin()" [routerLink]="[ '/statystyka']" >Statystyka dla admina</button>
</div>
<div id="naviRight">
    
    <i [routerLink]="['/koszyk']" routerLinkActive="router-link-active"  class="fas fa-shopping-cart"></i>
    <i [routerLink]="['/logowanie']" routerLinkActive="router-link-active" class="fas fa-user"></i>
</div>

</nav>
