
:host{
    padding: 4px 5px;
    width: 100%;
}
li{
    font-size: 17px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-content: center;
    list-style: none;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.61)
}
ul
{
    padding: 0;
    margin: 10px;
  
}

.buttonBox 
{
   display: flex;
   justify-content: space-around;
   align-items: center; 
}
.editBox
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.editBox input
{
    margin-bottom: 5px;
    
}

.buttonBox button
{
    padding: 1% 5%;
}

#categoryTopicDiv
{
    
    background-color: rgba(240, 45, 45, 0.863);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
#categoryTopicDiv p 
{
    margin: 14px 0;
    font-weight: 600;
    font-size: 15px;
}