li{
    font-size: 17px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-content: center;
    list-style: none;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.61)
}
ul
{
    padding-left: 10px;
    margin: 10px;
}

.buttonBox
{
   display: flex;
   justify-content: space-between;
   align-items: center; 
}
.buttonBox button
{
    padding: 1% 5%;
}
