<div id="categoryTopicDiv">
<p>Kategorie</p>
</div>

<ul  *ngFor="let category of CategoryDisplay | async ">
                <li  [routerLink]="['/kategorie/',category.id]"   routerLinkActive="router-link-active"  >{{category.name}}    </li>  
                <div class = "buttonBox">
                                <button color="warn" [routerLink]="['/nowosci']" mat-raised-button (click)="deleteElement(category.id,category.name)" >Usuń</button>  
                               
                </div>  
                <div class="editBox" *ngIf="isEditCategor">
                                <input type="text" #inputNewName>
                                <button color="primary" mat-raised-button (click)="editName(category.id,inputNewName.value , category.name)" >Zmien nazwę</button>  
                </div>     
         
        </ul>

<mat-form-field class="example-full-width">
    <input matInput   placeholder="Categories" #input>
</mat-form-field>
<div class = "buttonBox">
        <button color="primary" mat-raised-button (click)="isEditCategor =!isEditCategor" >Edytuj</button>  
        <button color="primary"  mat-raised-button (click)="addElement(input.value)" >Dodaj</button>
</div>
 
