#mainPanle
{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
img
{
    padding: 0 3% 3%  3% ;
    width: 30%;
    justify-content: center;
    display: flex;
    align-items: center;
}
div
{
    display: flex;
    justify-content: stretch;
    padding: 1%
    
}
#routerOutleDisplay
{
    justify-content: center;
    display: flex;
    
}