<div  *ngIf="product">
<div class="main">


<div class="row" id="rowLeft">
 
      
    <img mat-card-image width="100%" [src]="product.imageUrl[0]" alt="Brak obrazka " #mainImage>
    <div class="imageBox" >
    <div *ngFor="let src of product.imageUrl">
       
             <img mat-card-image width="100px" [src]="src" alt="Brak obrazka" (click)="ChangeMainImage($event ,mainImage )">
            </div>
    </div>
</div>
<div class="row" id="rowRight">
  <div class ="name"><p>{{product.name}}</p> </div>
  <div class ="kod"><p>Kod: {{product.name}}</p> </div>
  <div class ="producent"><p>Producent: {{product.name}}</p> </div>
  <div class ="box">
      <div class= "quantity">
          Ilość: <input   type="number"  value="1" #input> sztuk
      </div>
      <div class="NormarPrice" *ngIf="!product.isDiscount;else isReducionPrice">
        <p>Cena :<small>{{product.price}}</small>  zł</p> 
    </div>
    <ng-template #isReducionPrice>
    <div class = "ReducionPrice" >
       <p>   Cena : <small>{{product.price}} </small>  <strong>{{product.newPrice}}  </strong> zł  </p>
    </div>
  </ng-template>

      <button color="primary" (click)="addToShopingCard(product,input.value)" mat-raised-button >Dodaj  do koszyka</button>
      <div class="additionalInformation">
          <p><i class="fas fa-shipping-fast"></i><strong>Dostawa</strong>: Poczta, Kurier lub odbiór osobisty w Warszawie</p>
          <p><i class="fas fa-lock"></i> Solidnie zapakowane i <strong>ubezpieczone przesyłki</strong></p>
          <p><i class="fas fa-sync"></i>Dla Konsumentów: <strong>14 dni na zwrot</strong> </p>
          <p><i class="fas fa-gift"></i><strong>BONUSY</strong>  do zamówień powyżej 100zł!</p>
        
      </div>
  </div>

  

</div>
</div>
<div class ="description">
<strong>Opis</strong><br>
<p>{{product.description}} </p>
</div>
</div>
