<div class="productsBox">
    <div class="productDiv" [routerLink]="['/produkt',products.name]" *ngFor="let products of ProductDisplay | async ">
       
       
                
                <mat-card-header>
                  
                  <mat-card-title class="titleProduct"> {{products.name}} </mat-card-title>

                </mat-card-header>
                <img mat-card-image width="120px" src="https://static4.mediaexpert.pl/temp/thumbs-new/2/products/391/aparat-canon-eos-1300d-iii-18-55mm-plus-obiektyw-50mm_762391_2718586_350x350w50.jpg" alt="Brak obrazka">
                <mat-card-content>
                  <p>
                        {{products.description}}
                  </p>
                </mat-card-content>
                  <div class="divPrice">
                      Cena : {{products.price}} zł
                  </div>
                <mat-card-actions class= "buttonBox">
                    <button color="warn" mat-raised-button (click)="deleteElement(products.id)" >Usuń</button>  
                    <button color="primary" mat-raised-button (click)="editElement(products.id)" >Edytuj</button>  
                </mat-card-actions>
    </div>
</div>

<button color="warn" mat-raised-button [routerLink]="['/dodajProdukt/', ProductId]" >Dodaj Produkt</button>  
