
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body
{
    margin: 0px 40px 40px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(236, 236, 236);
    font-family: 'Open Sans', sans-serif;
}
.appRoot
{
    padding: 50px 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
}

.productsBox 
{
 display: flex;
flex-direction: row;
width: 100%;
flex-wrap: wrap;
justify-content: center;
}
.titleProduct
{
display: flex;
justify-content: center;
font-weight: 800;

}
.divPrice
{
    font-weight: 600;
    font-size: 15px;

}
.productDiv
{
    padding: 1% 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
 
    margin: 4px;
    border: 1px solid #cccccc;
    height: min-content;
    min-width: 175px;
    width: 15%;
}
.buttonBox
{
    display: flex;
    justify-content: space-around;
}
.buttonBox button
{
    margin: 5%;
    display: flex;
    justify-content:center;
}
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    
   
}
.newbox
{

    background-color: #f44336;
    z-index: 100;
    position: absolute;
    right:3%;
    top:1%;
    border-radius: 10%;
}
.newbox p 
{
    padding: 4px 10px;
    margin: 0;
    color:white;
    font-weight: 800;

}

.productDiv
{
    position: relative;
}

.NormarPrice p , .ReducionPrice p 
{
    margin-top: 0;
}

.ReducionPrice small 
{
    font-size: 14px;
    text-decoration: line-through;
     
}

.ReducionPrice strong
{
    font-size: 24px;
    color: rgb(219, 28, 28);
   
}